<%= content_for :title, "Your weekly inside scoop of interesting commits, pull requests and more from Rails" %>

<div class="wrapper">
  <div class="text-center mt-5">
    <h1>Ruby on Rails Blog</h1>
    <p class="lead">Rails weekly news updates</p>
    <p>Subscribe to get future posts via email</p>

    <div class="wrap-subscribe">
      <div class="input-group mb-3 w-25">
        <input type="email" class="form-control shadow-none" placeholder="Type your email…" aria-label="email's username" aria-describedby="button-subscribe">
        <button class="btn btn-outline-secondary" type="button" id="button-subscribe">Subscribe</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="posts">
  </div>
</div>
