.navbar {
  .navbar-icon {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .icon {
    width: 2.625em;
    height: 2.625em;
    border-radius: 100%;
    z-index: 1;
    display: block;
    position: relative;
    color: transparent;
  }
}
